---

---

<footer
  class="bg-neutral-950 w-full border-t border-neutral-800/20 flex flex-col md:flex-row justify-between items-center py-8 px-10 "
>
  <div class="mb-8 md:mb-0">
    <span
      class="text-lg font-bold text-amber-400 font-headline uppercase"
      style="">SHELL BEES</span
    >
    <p
      class="text-neutral-500 font-['Lexend'] text-sm mt-2 font-light"
      style=""
    >
      © {new Date().getFullYear()} SHELL BEES.
    </p>
  </div>
  <div class="flex flex-wrap justify-center gap-8">
    <a
      class="font-['Lexend'] text-sm text-neutral-500 hover:text-amber-300 transition-opacity duration-300"
      href="/"
      style="">Hive</a
    >
    <a
      class="font-['Lexend'] text-sm text-neutral-500 hover:text-amber-300 transition-opacity duration-300"
      href="/liberary"
      style="">Liberary</a
    >
    <a
      class="font-['Lexend'] text-sm text-neutral-500 hover:text-amber-300 transition-opacity duration-300"
      href="/privacy_policy"
      style="">Privacy Policy</a
    >
  </div>
</footer>
