---
const { active = "home" } = Astro.props;

const links = [
  { href: "/", label: "Hive", key: "home" },
  { href: "/liberary", label: "Liberary", key: "liberary" },
  { href: "/privacy_policy", label: "Privacy Policy", key: "privacy" },
];
---

<nav
  class="glass-nav fixed top-0 z-50 flex h-20 w-full items-center  justify-between  shadow-glow md:px-8"
>
  <img
    src="/src/assets/imgs/logo.png"
    alt="ShellBees Logo"
    class="h-10 w-auto "
  />

  <div class=" items-center gap-8 font-headline tracking-tight flex justify-center flex-1">
    {
      links.map((link) => (
        <a
          href={link.href}
          class:list={[
            "border-b-2 pb-1 transition-colors",
            active === link.key
              ? "border-primary text-primary"
              : "border-transparent text-neutral-400 hover:text-amber-200",
          ]}
        >
          {link.label}
        </a>
      ))
    }
  </div>

  
</nav>
